@import "tailwindcss";

@theme {
  /* Removendo o segundo 'color' para facilitar o uso das classes */
  --color-off-white: #F8F9FA;
  --color-pulpito-roxo: #6D28D9;
  --color-pulpito-laranja: #F97316;
  --color-pulpito-texto: #1A1A1B;
  
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

/* Aplicação global */
@layer base {
  body {
    background-color: #F8F9FA; /* Cor off-white direta para evitar erro de carregamento */
    color: #1A1A1B;
    font-family: "Inter", sans-serif;
  }
}